# .env
# 使用你自己的用户名、密码、主机、端口和数据库名
DATABASE_URL="postgresql://YOU_USERNAME:YOU_PASSWORD@127.0.0.1:5432/YOU_DATABASE_NAME?schema=public"

# 端口号
PORT=5100

# 关闭颜色输出
#NO_COLOR=true

# 是否同步区块链（在本地开发功能的时候可以关闭同步操作）
# 注意：关闭同步后，数据库中不会有任何数据，只能通过 RPC 节点查询
# 建议：在本地开发功能时关闭同步，在生产环境开启同步
# 是否跳过区块链同步（设为 true 时不同步）
SKIP_SYNC=false

# 是否使用zeromq监听内存池（设为 true 时开启监听）
USE_ZMQ=true

# ZMQ 节点配置
ZMQ_URL="tcp://127.0.0.1:28332"


# RPC 节点配置
RPC_URL="http://127.0.0.1:8342"
RPC_USER="YOU_RPC_USER"      
RPC_PASSWORD="YOU_RPC_PASSWORD" 


# 公共 RPC 接口认证配置 (转发接口 /api/rpc 使用)
# 就是别人通过区块链浏览器来调用这个接口，需要认证
RPC_PUBLIC_USER="scash"
RPC_PUBLIC_PASSWORD="scash"